node_modules/

/dnflodge-app/build

.DS_Store
/dnflodge-appe/.env.local
/dnflodge-app/.env.development.local
/dnflodge-app/.env.test.local
/dnflodge-app/.env.production.local
.idea
__pycache__
.vscode
/try


dnfLodge.db/
ToDO.txt/
dnflodge/.git
dnflodge-app/




